*{
    margin: 0;
    padding: 0;
}
.container{
  background-color: #18181a;
  height: 160px;
  width: 100%;
}
img{
  height: 90px;
  width: 300px;
  float: left;
  margin-top:34px;
  position: relative;
}
nav{
  text-align: right;
  margin: 72px 0 0 0;
}
nav li{
  list-style-type: none;
}
nav ul li a{
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    margin-left: 40px;
    color: darkgrey;
}
nav ul li a:hover{
    color:#bf0949;
    text-decoration: none;
  }
nav ul li {
   display: inline-block;
}
h3{
   float: left;
   color: darkgrey;
   font-family: 'Montserrat', sans-serif;
   margin-top: 72px;
   font-size: 16px;
   font-weight:lighter;
   border-left: 2px solid darkgrey;
   padding-left: 7px;
}
